Flask==0.10.1
Flask-MongoAlchemy==0.5.4
Flask-RESTful==0.2.11
JPype1==0.5.4.5
Jinja2==2.7.2
MarkupSafe==0.18
MongoAlchemy==0.14.3
Werkzeug==0.9.4
aniso8601==0.82
argparse==1.2.1
boilerpipe==1.2.0.0
charade==1.0.3
itsdangerous==0.23
jusText==2.1.0
lxml==3.3.1
pymongo==2.6.3
pytz==2013.9
requests==2.2.1
six==1.5.2
wsgiref==0.1.2
